<!DOCTYPE html>
	<head>
		<style>
	body {
	text-align: center;
	text-shadow: 2px 2px;
	}
	body {
 	background-image: url("https://i.pinimg.com/originals/86/8b/ec/868beccfc66f33ea419bd2928ff04bf1.jpg");
	background-repeat: no-repeat;
 	background-size: cover;
 	}	
 	
	h1 {
	color: white;
	text-align: center;
	font-family: 'Times New Roman', serif;
	}
	h2{ 
	color: white;
	text-align: center;
	}
	h4{
	color: black;
	}
	p{
	color: turquoise;
	text-align: center;
	<br>
	font-family: arial;
	font-size: 20px;
	}
	img{
	text-align: center;
	}
	#para1{
	text-align: center;
	color: white;
	}
	#para2{
	text-align: center;
	}
	font size="5"{
	color: white
	}
	
