<!DOCTYPE html>
	<head>
		<style>
	body {
	text-align: center;
	text-shadow: 2px 2px;
	}
	body {
 	background-image: url("https://w0.peakpx.com/wallpaper/693/854/HD-wallpaper-iphone-xs-iphone-x-xr-xs-max-ios-ios-12-apple.jpg");
	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	}
 	
	h1 {
	color: white;
	text-align: center;
	}
	h2{ 
	color: black;
	text-align: center;
	}
	h4{
	text-align: center;
	}
	h5{
	text-align: center;
	}
	p{
	color: white;
	text-align: center;
	}
	img{
	text-align: center;
	}
	

	