<div>
<p id="para1"><a href="iphone-14-pro-max.html"><p><b><font size = "5">Виж повече:</font></a><br></p>
<p id="para2"><img width="250px" height="auto"src="{{ include.imagename }}" alt="image 1"><br><button><b>Купи</b></button></p>
</div>


<p id="para1"><a href="iphone-13.html"><font size = "5">Виж повече:</font></a><br></p>
<p id="para2"><img width="250px" height="auto" src="{{ include.imagename1 }} " alt="image 2"><br><button><b>Купи</b></button></p>



<p id="para1"><a href="iphone-13-mini.html"><font size = "5">Виж повече:</font></a><br></p>
<p id="para2"><img width = "250px" height = "auto" src="{{ include.imagename-2 }}" alt="image 3"><br><button><b>Купи</b></button></p>